NODE_ENV=development

APP_HOST=localhost
APP_PORT=3000

DEV_DB_HOST=localhost
DEV_DB_PORT=3308
DEV_DB_DATABASE=usherctrl
DEV_DB_USERNAME=usheruser
DEV_DB_PASSWORD=connect@Usher2020

TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_DATABASE=usherctrl
TEST_DB_USERNAME=usheruser
TEST_DB_PASSWORD=connect@Usher2020

PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_DATABASE=usherctrl
PROD_DB_USERNAME=usheruser
PROD_DB_PASSWORD=connect@Usher2020

TEMPFILE=tempfile
UPLOAD_STORAGE_DIR=../
LOGS_DIR=logs
LOGS_EVENT_DIR=events
LOGS_UPLOADED_EVENT_DIR=uploadedEvents
LOGS_PER_MIN_DIR=permin
LOGS_FIRST_ALARM_DIR=firstalarm
LOGS_EVENT_MAX_DIR=eventMax 

STORAGE=false

SERIAL_PATH=/dev/ttyACM0
BAUDRATE=9600